<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="/assets/icon.png" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="#" [routerLink]="['/grafico']">Grafico</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-9 mx-auto bg-white">
      <br><br>
      <div class="row">

        <div class="col-6">
          <p class="p-5 text-justified">
            L’SDG 8 (Sustainable Development Goal 8) rappresenta 2 dei 17 obiettivi di sviluppo sostenibile stabiliti dall’assemblea generale delle nazioni unite nel 2015. Nello specifico tratta il tema del “lavoro dignitoso e della crescita economica”.
            L’economia cresce di pari passo all’accesso ai posti di lavoro e alla produttività dei lavoratori stessi.
            Il Covid 19 ha visibilmente danneggiato l'economia riducendo le possibilità di lavoro in tutti i paesi situati in giro per il globo. Si stimava, all’inizio del 2020, una crescita del 2.5% nel mercato economico, dato che ha dovuto poi confrontarsi con la pandemia, diventando a Giugno dello stesso anno la previsione di un sonoro -5.2%. La regressione più significativa degli ultimi 80 anni.
            Per invertire il processo e consentire una ripresa economica, delle ottime contromisure sono creare posti di lavoro ben pagati per donne, giovani e disabili: implementare nel circolo dell’economia chi ha a disposizione una bassa forza lavoro. Fondamentale, inoltre, che i lavoratori diano il massimo nel ottimizzare la produttività per colmare il buco nel minor tempo possibile.
            Abbiamo in realtà a disposizione più mezzi per attuare una ripresa, si passa dagli investimenti su cultura e salute, all’edificazione di nuove infrastrutture, fino ad arrivare all’applicazione di nuove tecnologie. Tutte ottime strade da percorrere per riuscire giorno dopo giorno a tornare sulla via della crescita, ma per ottenere un cambiamento a lungo termine c’è bisogno di una concreta trasformazione economica.
          </p>
        </div>

        <div class="col-6">
          <img src="/assets/edcivica.png" alt="image" class="img-fluid">
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <img src="https://blog.ibanfirst.com/hs-fs/hubfs/img-indicateurs-economiques.jpg?width=748&name=img-indicateurs-economiques.jpg" alt="image" class="img-fluid">
        </div>

        <div class="col-6">
          <p class="p-5 text-justified">
            L’agricoltura rappresenta circa il 60% della forza lavoro nei paesi a basso reddito rimanendo di fatto l’industria dominante, nonostante nella maggioranza delle nazioni ormai le assunzioni in quel settore siano in calo: con la crescita della produttività nel settore agricolo sempre meno braccia sono necessarie al compimento del lavoro e questo porta ad un processo di migrazione verso le aree urbane, nel 1990 solo il 40% della popolazione mondiale occupava le zone più industriali mentre ora siamo circa al 60%. La percentuale invece dei lavoratori nel settore agricolo passa dal 40% al 25%.
            Non bisogna dimenticare i lavoratori autonomi, in partita IVA o partecipanti ad attività famigliare: nello stesso periodo si riduce dal 53% al 45% e si trova oggi ad essere una delle posizioni più delicate dall’arrivo della pandemia Covid19. Il lavoratore autonomo è ben il 70% del commercio al dettaglio e il 60% nel settore della ristorazione, entrambi settori martoriati dalle misure di contenimento anti-Covid19 minimizzando le entrate a meno del 20% rispetto allo stesso periodo dell'anno precedente.

          </p>
        </div>

      </div>

    </div>
  </div>
</div>
